@font-face {
  font-family: "MaruBuri";
  font-weight: 100;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/MaruBuri-ExtraLight.woff2)
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "MaruBuri";
  font-weight: 300;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/MaruBuri-Light.woff2)
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "MaruBuri";
  font-weight: 400;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/MaruBuri-Regular.woff2)
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "MaruBuri";
  font-weight: 500;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/MaruBuri-SemiBold.woff2)
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "MaruBuri";
  font-weight: 700;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/MaruBuri-Bold.woff2)
    format("woff2");
  font-display: swap;
}

// Variables
$primary-color: #414141;
$secondary-color: #fff;
$bg-color: #000;
$highlight-color: rgb(246, 178, 174);

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Pretendard", Apple Color Emoji;
  font-weight: 400;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

main {
  // pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

table {
  border-spacing: 0;
  position: absolute;
  top: 80px;
}

::-webkit-scrollbar {
  height: inherit;
  width: 10px;
  padding-left: 0;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
  border: none;
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  display: none;
}

#date-selector {
  margin-bottom: 10px;
}

#datepicker {
  width: inherit;
}

.ui-datepicker-title {
  position: absolute;
  right: 3.2rem;
  font-size: 23pt;
  font-weight: 600;
}

.outer-container {
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: $bg-color;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 0 10px;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .chat-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}

select#date-selector {
  font-weight: 500;
  font-family: inherit;
  option {
    font-weight: inherit;
    font-family: inherit;
  }
}

.message-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  position: relative;
  clear: both;
  width: auto;

  &.no-max-width {
    max-width: 100% !important;
    width: auto;
    margin-bottom: 20px;
  }

  .timestamp-label {
    font-size: 0.8rem;
    color: #9c9c9c;
    text-align: right;
    position: relative;
    top: 5px;
    white-space: nowrap;
    width: 100%;
  }

  &.friend {
    align-self: flex-start;
    align-items: flex-start;
    text-align: left;
    width: auto;

    .timestamp-label {
      text-align: left;
    }

    .reaction-box {
      left: -5px;
      align-self: flex-end;
    }

    .quote-box {
      align-self: flex-end;
    }

    .highlight-circle {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #e16c6c;
      border-radius: 50%;
      top: 23px;
      right: -2px;
      z-index: 10;
    }

    &.no-nickname {
      .highlight-circle {
        top: 0px !important;
      }
    }
  }

  &.me {
    align-self: flex-end;
    align-items: flex-end;
    width: auto;

    .reaction-box {
      position: relative;
      right: -5px;
      align-self: flex-start;
    }

    .highlight-circle {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #e16c6c;
      border-radius: 50%;
      top: -2px;
      left: -2px;
      z-index: 10;
    }

    .quote-box {
      align-self: flex-start;
    }
  }

  &.has-quote .message {
    top: 0px;
    margin-top: 0;
  }

  &.has-reaction {
    margin-bottom: 5px;

    .timestamp-label {
      top: -5px;
      max-width: 85px;
      white-space: wrap;
    }

    &.short-message .timestamp-label {
      top: -5px;
      max-width: none;
    }

    &.long-message .timestamp-label {
      top: -25px;
      max-width: none;
    }

    &.long-message-alter .timestamp-label {
      top: -25px;
      max-width: 83px;
    }

    &.long-message-alter2 .timestamp-label {
      top: -25px;
      max-width: 160px;
    }
  }

  &.last-message {
    margin-bottom: 0 !important;

    &.height-adjusted {
      height: calc(100% - 20px);
    }

    &:not(.has-reaction) {
      #chat-container {
        height: calc(100% - 20px);
      }
    }

    &.no-height-adjust {
      margin-bottom: 0;

      &.timestamp-label {
        top: -5px;

        &.no-reaction {
          top: 5px;
        }

        &.has-reaction {
          top: 20px;
        }
      }
    }
  }

  &.last-message.has-reaction {
    margin-bottom: 0;
  }

  &.two-image {
    max-width: 100%;
    margin-bottom: 20px;

    img {
      width: 100%;
      border-radius: 12px;
      border: 1px solid $primary-color;
      margin: 0;
      overflow: hidden;
      display: inline-block;

      &:first-child {
        margin-right: 15px;
      }
    }
  }
}

#image-modal {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition-duration: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;

  &-content {
    margin: auto;
    display: block;
    max-height: 90%;
    max-width: 90%;
    position: absolute;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    object-fit: contain;
    transform: translate(-50%, -50%);
    border: #fff solid 1px;
  }

  #full-image {
    height: auto;
  }

  .close {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 30px;
    left: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    border-radius: 50%;
    transition: background-color 0.2s;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    span {
      position: relative;
      z-index: 1;
    }
  }
}

#chat-container {
  height: 100%;
}

.nickname {
  font-weight: bold;
  margin-bottom: 2px;
  color: $secondary-color;
  text-align: left;
  position: relative;
}

.has-quote {
  .nickname {
    position: absolute;
  }
}

.message {
  padding: 10px;
  border-radius: 15px;
  position: relative;
  word-wrap: break-word;
  word-break: normal;
  text-align: left;
  white-space: normal;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-all;
  display: inline-block;
  max-width: 100%;
  background-color: #fff;
  font-weight: 400;

  i {
    font-weight: 200;
  }

  em {
    font-weight: 700;
  }

  &.hidden {
    background-color: transparent;
  }
}

.rounded-media {
  width: 100%;
  border-radius: 12px;
  border: 1px solid $primary-color;
  display: block;
  margin: 0;
  overflow: hidden;
}

.reaction-box {
  border: 1px solid $secondary-color;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 10px;

  .reaction-icon {
    display: inline;
  }
}

#search-input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #ccc;
  position: absolute;
  display: flex;
  right: 2%;
}

.date-divider {
  display: flex;
  align-items: center;
  margin: 10px 0;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
  }

  &.first {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &:not(:empty)::before {
    margin-right: 0.25em;
  }

  &:not(:empty)::after {
    margin-left: 0.25em;
  }

  span {
    font-size: 0.8rem;
    color: #9c9c9c;
  }
}

#datepicker {
  top: 25px;
  position: absolute;
}

.highlight {
  background-color: $highlight-color;
}

.emoji {
  font-size: 5rem;
  text-align: center;
  .nickname {
    font-size: 1rem;
  }
  img {
    width: 6rem;
    height: 6rem;
  }
}

.quote-box {
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 15px;
  color: #cecece;
  position: relative;
  z-index: 0;
}

.quote-text {
  display: block;
}

.tooltip {
  position: fixed;
  background-color: #fff;
  border: 2px solid black;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
  text-align: left;
  font-family: "pretendard";
  padding: 5px;
}
//달력
#calendar-container {
  width: 40rem;
  height: 29rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "pretendard";
  background-color: #fff;
  padding: 25px;
  display: block;

  .ui-datepicker-calendar {
    width: 100%;
    border: none;
    height: 20px;
    position: relative;

    th {
      text-align: left;
      padding-left: 5px;
      color: #000;
      bottom: -25px;
      position: relative;
      font-size: 4rem;
      font-weight: 600;
      width: 85px;

      span {
        font-size: 4rem;
        font-weight: 600;
      }

      tr {
        height: 30px;
        text-align: left;
        padding-left: 5px;
      }
    }

    td {
      font-size: 4rem;
      font-weight: 600;
      width: 80px;
      height: 50px;

      span {
        color: #000;
        left: 5px;
        position: relative;
        display: block;
      }

      &.half_num_1 {
        position: relative;
        a {
          font-size: 2rem !important;
          font-weight: 900;
          top: 7px;
        }
      }

      &.half_num_2 {
        position: absolute;
        left: 30px;
        a {
          font-size: 2rem !important;
          font-weight: 900;
          top: -20px;
        }
      }

      .last_corn {
        position: relative;
        height: 50px;
      }

      a {
        text-decoration: none;
        display: block;
        left: 5px;
        position: relative;
        height: 50px;

        &:not(.has-events) {
          color: black;
        }
      }

      &.has-events {
        a {
          color: rgb(175, 9, 9);
        }

        &:hover {
          a {
            color: #9c9c9c;
          }
        }
      }

      .ui-state-default {
        cursor: pointer;
        text-align: left;
      }
    }
  }

  &-prev,
  &-next {
    cursor: pointer;
    color: #000;

    &:hover {
      color: #bd0d0d;
    }
  }

  &-header {
    color: #000;
    padding: 10px;
  }

  &-title {
    text-align: right;
    font-weight: 900;
    font-size: 1rem;
    position: relative;
    top: -30px;
    right: 60px;
  }

  #calendar {
    bottom: -80px;
  }
}

.ui-datepicker-unselectable {
  height: 0;
}

.log-selector {
  position: relative;
  border-collapse: collapse;

  td {
    padding: 5px;
    cursor: pointer;
    &:hover {
      background-color: #f0f0f0;
    }
  }
}

#chat-container-wrapper {
  display: block;
}

#dropdown-container {
  display: none;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: absolute;
  width: auto;
  max-width: 180px;

  select {
    width: 100%;
    border: none;
    background: none;
    font-size: 1rem;
  }
}

.dropdown {
  &-menu {
    font-family: "Pretendard";
    font-weight: 900;
    font-size: 2rem;
    position: absolute;
    display: none;
    background: #fff;
    border: 2.5px solid black;
    z-index: 10;
    width: max-content;
  }

  &-item {
    padding: 5px 10px 3px 10px;
    cursor: pointer;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.calendar-cell {
  position: relative;
}

#no-results {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #9c9c9c;
}

#mobile {
  display: block;
  position: absolute;
}

.message.apple-style {
  span {
    position: relative;
    left: 1px;
  }

  &.me {
    background-color: #2591ea;
    color: white;
    border-radius: 28px 28px 5px 28px;
    text-align: left;
    i {
      color: #bfbfbf;
    }
  }

  &.friend {
    background-color: #373434;
    color: white;
    border-radius: 28px 28px 28px 5px;
    text-align: left;
  }
}

#warning {
  visibility: hidden;
  color: #f0f0f0;
}

video {
  max-width: 100%;
  height: auto;
  display: block;
  background-color: black;
}

@media screen and (min-width: 1366px) and (orientation: landscape) {
  #mobile {
    display: none !important;
  }

  .outer-container {
    width: 30vw;
    height: 95vh;
  }

  .message-container {
    max-width: 73%;
  }

  .message {
    padding: 12.5px;
    font-size: 0.9rem;
    font-weight: 500;
    i {
      font-size: 0.8rem;
      font-weight: 500;
      color: #9c9c9c;
    }
    &.apple-style {
      &.friend {
        padding: 11px 14px 12px 10px;
      }
      &.me {
        padding: 12.5px 14px 11.5px 13px;
      }
    }
  }

  .reaction-box {
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
  }

  .reaction-icon {
    font-size: 1.2rem;
  }

  .tooltip {
    padding: 12px;
    max-width: 300px;
    font-size: 0.85rem;
    font-weight: 300;

    img {
      max-width: 380px;
    }
  }

  .dropdown {
    &-menu {
      min-width: 100px;
      max-width: 320px;
    }
  }

  .has-quote {
    .quote-box {
      top: 20px;
      padding: 10px 10px 25px 10px;
      position: relative;
    }

    .friend {
      .quote-box {
        left: 15px;
        max-width: 380px;
      }
    }

    .me {
      .quote-box {
        right: 15px;
        max-width: 370px;
      }
    }

    .quote-text {
      font-size: 0.8rem;
    }
  }
}

select#date-selector {
  font-size: 14px !important;
  width: 65% !important;
  height: 4% !important;
}

#search-input {
  width: 32% !important;
  height: 4% !important;
}

@media screen and (min-width: 1024px) and (max-width: 1365.99px) and (orientation: landscape) {
  #mobile {
    display: none !important;
  }

  .outer-container {
    width: 40vw;
    height: 85vh;
  }

  .message-container {
    max-width: 75%;
  }

  .message {
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    i {
      font-size: 12px;
      font-weight: 400;
      color: #9c9c9c;
    }
    &.apple-style {
      &.friend {
        padding: 11px 14px 12px 10px;
      }
      &.me {
        padding: 12.5px 14px 11.5px 13px;
      }
    }
  }

  .reaction-box {
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
  }

  .reaction-icon {
    font-size: 1.1rem;
  }

  .tooltip {
    padding: 10px;
    max-width: 250px;
    font-size: 14px;

    img {
      max-width: 230px;
    }
  }

  .has-quote {
    .quote-box {
      top: 20px;
      padding: 10px 10px 25px 10px;
      position: relative;
    }

    &.friend {
      .quote-box {
        left: 15px;
        max-width: 380px;
      }
    }

    &.me {
      .quote-box {
        right: 15px;
        max-width: 370px;
      }
    }

    .quote-text {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 1023.99px) and (min-width: 767px) and (orientation: portrait) {
  .outer-container {
    width: 50vw;
    height: 70vh;
  }

  .message-container {
    max-width: 80%;
  }

  .message {
    padding: 11.5px;
    font-size: 14px;
    font-weight: 500;
    i {
      font-size: 11.5px;
      font-weight: 400;
      color: #9c9c9c;
    }
    &.apple-style {
      &.friend {
        padding: 11px 14px 12px 10px;
      }
      &.me {
        padding: 12.5px 13px 11.5px 13px;
      }
    }
  }

  .has-quote {
    .quote-box {
      top: 20px;
      padding: 10px 10px 25px 10px;
      position: relative;
    }

    &.friend {
      .quote-box {
        left: 15px;
        max-width: 380px;
      }
    }

    &.me {
      .quote-box {
        right: 15px;
        max-width: 370px;
      }
    }

    .quote-text {
      font-size: 13px;
    }
  }

  .reaction-box {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 9px;
  }

  .reaction-icon {
    font-size: 1rem;
  }

  .tooltip {
    padding: 10px;
    max-width: 200px;
    font-size: 12px;

    img {
      max-width: 180px;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  #mobile {
    display: none !important;
  }

  .outer-container {
    width: 55vw;
    height: 90vh;
  }

  .message-container {
    max-width: 75%;
    &.has-reaction {
      &.long-message .timestamp-label {
        top: -20px !important;
        max-width: none;
      }
    }
  }

  .message {
    font-size: 13.5px;
    font-weight: 500;
    i {
      font-size: 13px;
      font-weight: 400;
      color: #9c9c9c;
    }
    &.apple-style {
      &.friend {
        padding: 11px 14px 12px 10px;
      }
      &.me {
        padding: 12.5px 13px 11.5px 13px;
      }
    }
  }

  .has-quote {
    .quote-box {
      top: 20px;
      padding: 10px 10px 25px 10px;
      position: relative;
    }

    &.friend {
      .quote-box {
        left: 15px;
        max-width: 380px;
      }
    }

    &.me {
      .quote-box {
        right: 15px;
        max-width: 370px;
      }
    }

    .quote-text {
      font-size: 13px;
    }
  }

  .reaction-box {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 8px;
  }

  .reaction-icon {
    font-size: 1rem;
  }

  .tooltip {
    padding: 10px;
    max-width: 200px;
    font-size: 12px;

    img {
      max-width: 180px;
    }
  }
}

select#date-selector {
  font-size: 13px;
  width: 65%;
  height: 4%;
  border-radius: 5px 0 0 5px;
}

#search-input {
  width: 33%;
  height: 2%;
}

@media screen and (max-width: 599.99px) and (min-width: 430px) {
  .outer-container {
    width: 90vw;
    height: 90vh;
  }

  .message-container {
    max-width: 75%;
    .timestamp-label {
      font-size: 0.7rem;
    }
    &.has-reaction {
      &.long-message .timestamp-label {
        top: -20px !important;
        max-width: none;
      }
    }
  }

  .message {
    padding: 12px;
    font-size: 13.5px;
    font-weight: 400;

    i {
      font-size: 12px;
      font-weight: 400;
      color: #9c9c9c;
    }
  }

  .has-quote {
    .quote-box {
      top: 20px;
      padding: 10px 10px 25px 10px;
      position: relative;
    }

    &.friend {
      .quote-box {
        left: 15px;
        max-width: 380px;
      }
    }

    &.me {
      .quote-box {
        right: 15px;
        max-width: 370px;
      }
    }

    .quote-text {
      font-size: 13px;
    }
  }

  .reaction-box {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 7px;
  }

  .reaction-icon {
    font-size: 0.9rem;
  }

  .tooltip {
    padding: 10px;
    max-width: 200px;
    font-size: 13px;

    img {
      max-width: 180px;
    }
  }
}

// @media screen and (max-width: 766.99px) and (min-width: 430px) and (orientation: landscape) {
//   .message {
//     font-weight: 400;
//   }

//   .outer-container {
//     width: 80vw;
//     height: 95vh;
//   }

//   .message-container {
//     max-width: 70%;
//     .timestamp-label {
//       font-size: 0.7rem;
//     }
//     &.has-reaction {
//       &.long-message .timestamp-label {
//         top: -20px !important;
//         max-width: none;
//       }
//     }
//   }

//   .message {
//     font-size: 12px;
//     i {
//       font-size: 9.5px;
//       font-weight: 400;
//       color: #9c9c9c;
//     }
//     &.apple-style {
//       &.friend {
//         padding: 11px 14px 12px 10px;
//       }
//       &.me {
//         padding: 11.5px 13px 11.5px 13px;
//       }
//     }
//   }

//   .quote-text {
//     font-size: 12px;
//   }

//   .reaction-box {
//     width: 1.3rem;
//     height: 1.3rem;
//     border-radius: 6px;
//   }

//   .reaction-icon {
//     font-size: 0.8rem;
//   }
// }

@media screen and (max-width: 429.99px) and (min-width: 350px) {
  .outer-container {
    width: 90vw;
    height: 90vh;
    .chat-container {
      padding: 0 5px 10px 5px;
    }
  }

  .message-container {
    max-width: 80%;
    .timestamp-label {
      font-size: 0.7rem;
    }
    &.has-reaction {
      &.long-message .timestamp-label {
        top: -20px !important;
        max-width: none;
      }

      &.long-message-alter .timestamp-label {
        top: -20px;
      }
    }
  }

  .message {
    font-size: 13px;
    font-weight: 400;

    i {
      font-size: 11.7px;
      color: #9d9d9d;
      font-weight: 500;
    }
    &.apple-style {
      &.friend {
        padding: 11px 14px 12px 10px;
      }
      &.me {
        padding: 11.5px 13px 11.5px 13px;
      }
    }
  }

  .has-quote {
    .quote-box {
      top: 20px;
      padding: 10px 10px 25px 10px;
      position: relative;
    }

    &.friend {
      .quote-box {
        left: 15px;
        max-width: 330px;
      }
    }

    &.me {
      .quote-box {
        right: 15px;
        max-width: 320px;
      }
    }

    .quote-text {
      font-size: 12px;
    }
  }

  .reaction-box {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 7px;
  }

  .reaction-icon {
    font-size: 0.8rem;
  }

  .tooltip {
    padding: 7px;
    max-width: 220px;
    font-size: 11px;

    img {
      max-width: 206px;
    }
  }
}

@media screen and (max-width: 349.99px) {
  main {
    visibility: hidden;
  }

  #warning {
    visibility: visible;
    width: 70vw;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
